/* ============== Mobile First Media Queries ====== */

@media only screen and (max-width: 480px) {
  .mainContainer {
    grid-template-rows: 10rem 1fr; /* match height of mobileNav__logo */

    & .mobileNav {
      display: flex;

      &__logo {
        width: 12rem;
        height: 10rem;
      }

      &__links {
        flex-flow: row nowrap;
        justify-content: space-around;
        margin: 0 auto;
        width: 60%;

        & li img {
          width: 4.5rem;
          height: 4.5rem;
        }
      }

      & li a {
        font-size: 1.2rem;
      }
    }

    & .pagination {
      &__container {
        font-size: 1.6rem;
      }
    }

    & .container {
      //container header::
      &__header p {
        font-size: 1.8rem;
        line-height: 2.4rem;
      }

      & .portfolio {
        & h2 {
          font-size: 2rem;
        }

        &__website-container {
          &--hero {
            width: 100%;
          }

          &--subcontent {
            width: 35%;
            &-tablet {
              width: 42.5%;
            }
          }
        }
      }
    }
  }
}

/* only display if browser width is less than 
TABLET::: */
@media only screen and (max-width: 799px) {
  .sidebar {
    display: none;
  }

  .mainContainer {
    grid-template-columns: 100%;
    grid-template-rows: 15rem 1fr;
    grid-template-areas:
      'mobileNav  mobileNav   mobileNav   mobileNav'
      'rightCol   rightCol  rightCol  rightCol';

    & .mobileNav {
      display: flex;

      &__logo {
        height: 12.5rem;
        width: 15rem;
      }
    }

    & .container {
      & header {
        display: flex;
      }

      .portfolio {
        &__website-container {
          &--subcontent {
            width: 30%;
          }
        }
      }

      & .pagefooter {
        display: flex;
      }
    }
  }
}
