/* ============== Mobile First Media Queries ====== */
/* start from large > small display width */
/* only display if browser width is less than 

DESKTOP::: */
@media only screen and (max-width: 992px) {
  .mainContainer {
    & .container {
      & .portfolio {
        &__aboutMe {
          min-height: 88vh;

          & .row {
            & .col.img {
              & .svg {
                width: 16rem;
                height: 16rem;
                margin: 2rem auto;

                & svg {
                  align-self: center;
                  width: 75%;
                  height: 75%;
                }
              }
            }
          }
        }
      }
    }
  }
}

/* TABLET::: */
@media only screen and (max-width: 799px) {
  .sidebar {
    display: none;
  }

  .mainContainer {
    grid-template-columns: 100%;
    grid-template-rows: 15rem 1fr;
    grid-template-areas:
      "mobileNav  mobileNav   mobileNav   mobileNav"
      "rightCol   rightCol  rightCol  rightCol";

    & .mobileNav {
      display: flex;
      height: 12.5rem;

      &__logo {
        height: 12.5rem;
        width: 15rem;
      }
    }

    & .container {
      & header {
        display: flex;
      }

      & .portfolio {
        &__headerTitle {
          & li {
            width: 50%;

            & h2 {
              font-size: 2.4rem;
            }
          }
        }
        &__website-container {
          &--subcontent {
            width: 30%;
          }
        }
        &__gallery-container {
          &--subcontent {
            width: 30%;
          }
        }

        &__overlay {
          &-text {
            font-size: 1.6rem;
            line-height: 2.1rem;
            padding: 2rem;
          }
        }

        &__aboutMe {
          min-height: 40vh;
          & .row {
            & .col.img {
              & .svg {
                width: 10rem;
                height: 10rem;
              }
            }
          }
        }
      }

      & .pagefooter {
        display: flex;
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .mainContainer {
    grid-template-rows: 10rem 1fr; /* match height of mobileNav__logo */

    & .mobileNav {
      display: flex;
      height: 10rem;

      &__logo {
        width: 10rem;
        height: 10rem;
      }

      &__links {
        flex-flow: row nowrap;
        justify-content: space-around;
        margin: 0 auto;
        width: 75%;

        & li img {
          width: 4rem;
          height: 4rem;
        }
      }

      & li a {
        font-size: 1.2rem;
      }
    }

    // & .pagination {
    //   &__container {
    //     font-size: 2.4rem;
    //   }
    // }

    & .container {
      //container header::
      &__header p {
        font-size: 1.8rem;
        line-height: 2.4rem;
      }

      & .portfolio {
        &__headerTitle {
          & li {
            width: 50%;

            & h2 {
              font-size: 1.8rem;
            }
          }
        }

        &__website-container {
          &--hero {
            width: 100%;
          }

          &--subcontent {
            width: 35%;
            &-tablet {
              width: 42.5%;
            }
          }
        }

        &__gallery-container {
          justify-content: space-between;

          &--hero {
            width: 100%;
          }

          &--subcontent {
            width: 25%;

            & img {
              width: 25%;
            }
          }
        }

        &__overlay {
          &-text {
            font-size: 1.4rem;
            line-height: 2rem;
            padding: 1rem;
          }
        }

        &__link {
          & a {
            font-size: 1.3rem;
          }
        }

        &__aboutMe {
          & .row {
            & .col.img {
              & .svg {
                width: 8rem;
                height: 8rem;
              }
            }
          }
        }
      }
    }
  }
}

//Global Height::: used by SideBar
@media screen and (max-height: 800px) {
  .sidebar {
    &__footer {
      position: relative;
      top: calc(5%);
    }
  }
}
