$off-white: #efefef;
$subtleWhite: #cfcfcf;
$transWhite: rgba(242, 242, 242, 0.9);
$transBlack: rgba(0, 0, 0, 0.5);
$opaqueBlack: rgba(12, 12, 12, 0.9);
$slightBlack: #0c0c0c;
$darkGrey: #333;
$mediumGrey: #666;
$off-black: #0f0f0f;
$subtleBlack: #030303;
$brightGreen: #33cc33;
$darkGreen: #009900;
$neonGreen: #33cf33;
