.mainContainer {
  display: grid;
  grid-template-columns: 20rem 1fr 1fr 1fr;
  grid-template-areas:
    "mobileNav  mobileNav   mobileNav    mobileNav"
    "leftCol    rightCol  rightCol     rightCol";

  & .container {
    grid-area: rightCol;
    width: 100%;
    background-color: $off-white;

    & h2
    {
      color:$neonGreen;
      
    }

    & header {
      display: none;
      align-items: center;
      width: 100%;
      min-height: 15rem;
      background-color: $off-white;
    }

    //ContainerHeader.js
    &__header {
      display: block;
      margin: 0 0 0 2rem;

      & p {
        color: $off-black;
        font-size: 2.2rem;
        line-height: 3rem;
        margin: 2rem;
      }
    }

    &__headerEmail {
      font-family: "Ubuntu Mono", monospace;

      & a {
        text-decoration: none;
        color: $darkGreen;
      }

      & a:hover {
        color: $darkGrey;
      }
    }
  }
}
