/* =================
container pagination
==================== */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  background-color:$off-white;

  &__container {
    font-family: 'Ubuntu Mono', monospace;
    list-style-type: none;
    font-size: 2rem;
    font-weight: 500;
    color: $subtleWhite;

    & li {
      display: inline-block;
    }

    & li a {
      text-decoration: none;
      color: $mediumGrey;
    }

    & li a:hover {
      color: $darkGrey;
    }

    & li a.active_link {
      color: $brightGreen;
    }

    li::after {
      content: '|';
      padding: 0 1rem;
    }

    li:last-child::after {
      content: '';
    }
  }
}
