.portfolio {
  margin: 2rem;
  padding: 0 0 2rem 0;
  background-color: $darkGrey;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  min-height: 15rem;
  position: relative;

  & .dropShadow {
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.75));
  }
  &__headerTitle {
    display: flex;
    flex-flow: row nowrap;
    list-style-type: none;

    margin: 0;
    width: 100%;
    padding: 1rem 2rem;
    background-color: $subtleBlack;

    & li {
      width: 70%;
      margin: 0;
      padding: 0;

      & h2 {
        font-family: "Ubuntu Mono", monospace;
        color: $subtleWhite;
        font-size: 2.8rem;
        font-weight: 700;
        letter-spacing: 0.025em;
      }
    }

    & li.link {
      width: 30%;
    }

    & li:first-child {
      text-align: left;
      align-self: center;
    }

    & li:last-child {
      text-align: right;
      align-self: center;
    }

    & li.graphic,
    & li.aboutMe {
      text-align: left;
      width: 100%;
    }
  }

  /* used for website items */
  &__website {
    width: 90%;
    min-height: 10rem;
    margin: 1rem auto;
  }

  &__website img {
    border-radius: 0.25rem;
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
  }

  &__website-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    list-style-type: none;

    li {
      margin: 1rem;
      padding: 0;
      position: relative;
    }

    /* used by websites with hero + smaller images */
    &--hero {
      width: 100%;
      position: relative;
    }

    &--subcontent {
      width: 20%;
      border-radius: 0.25rem;
      background-image: linear-gradient(
        -45deg,
        $off-white 50%,
        $mediumGrey 100%
      );

      &-tablet {
        width: 40%;
      }
    }

    /* used by website with one large hero image */
    &--fullWidth {
      width: 100%;
    }
  }

  /* used for graphic items */
  &__gallery {
    width: 90%;
    min-height: 10rem;
    margin: 1rem auto;

    &--mobile {
      object-fit: fill;
    }
  }

  &__gallery img {
    border-radius: 0.25rem;
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
  }

  /* gallery for multiple images per project */
  &__gallery-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    width: 90%;
    margin: 2rem auto;
    list-style-type: none;

    li {
      margin: 1rem;
      padding: 0;
    }

    /* used by websites with hero + smaller images */
    &--hero {
      width: 100%;
      position: relative;
    }

    &--subcontent {
      width: 20%;
    }

    /* used by website with one large hero image */
    &--fullWidth {
      position: relative;
      width: 100%;
    }
  }

  /* about me */
  &__aboutMe {
    width: 100%;
    min-height: 88vh;
    & .row {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      padding: 2rem;

      & .col.img {
        display: flex;
        flex-flow: row nowrap;
        background-color: transparent;

        & .svg {
          width: 20rem;
          height: 20rem;
          margin: 2rem auto;
          display: flex;
          justify-content: center;
          background-color: $opaqueBlack;
          border-radius: 50%;

          & svg {
            align-self: center;
            width: 70%;
            height: 70%;

            & .icon {
              color: $brightGreen;
            }
          }
        }
      }

      & .col {
        width: calc(100% - 2rem) !important;
        margin: 1rem;
        padding: 1rem;
        color: $subtleWhite;
        position: relative;

        & p {
          color: $subtleWhite;
          line-height: 1.6em;
          font-size: 1.6rem;
        }
      }
    }
  }
}
