.portfolio {
  /* overlay */
  &__overlay {
    width: 100%;
    height: 100%;
    background-color: $transBlack;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.15rem;

    &-container {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      margin: 0 auto;
      position: relative;
    }

    &-text {
      position: relative;
      top: 0;
      font-size: 2.1rem;
      font-weight: 500;
      line-height: 2.8rem;
      color: $off-white;
      padding: 2rem;
      margin: 0 2rem;
      visibility: hidden;
      transform: scaleX(0.5);
      transform-origin: center;
      background-color: $opaqueBlack;
      border-radius: 1rem;
    }
  }
}
